conda install -c conda-forge jupyterlab
conda install -c anaconda scipy
conda install -c jmcmurray json
conda install -c conda-forge json-e
conda install -c conda-forge matplotlib
conda install -c anaconda pandas
conda install -c conda-forge spyder-unittest
conda update -n base -c defaults conda
conda install -c auto jsonobject
conda install -c conda-forge networkx
conda install -c anaconda configparser
conda install -c anaconda pyserial
conda install -c anaconda pyautogui

conda install -c esrf-bcu simple-pid

pip install influxdb

conda install -c conda-forge influxdb-client

# pip install python-libtiepie

pip install python-libtiepie
pip install -U scikit-learn
pip install influxdb

# linux
sudo apt-get install python-influxdb

numpy~=1.21.2
scipy~=1.7.1
matplotlib~=3.4.2
configparser~=5.0.1
pandas~=1.3.4
networkx~=2.6.3


# rpi
sudo apt-get install python-pip
pip freeze | grep RPi

pip3 install RPi.GPIO

sudo apt-get install python3-dev python3-rpi.gpio
sudo apt-get install picap
picap-setup

conda install -c conda-forge opencv
conda install -c conda-forge/label/gcc7 opencv
conda install -c conda-forge/label/broken opencv
conda install -c conda-forge/label/cf201901 opencv
conda install -c conda-forge/label/cf202003 opencv